/* 
Responsive style for image */

#image{
    width: 100%;
  max-width: 300px;
  height: auto;
}

.series__content{
    display: flex;
    justify-content: space-evenly;
}

.content__paragraph{
    padding-left: 1rem;
}



.list-title{
    font-weight: bold;
}

.list-elements{
    font-weight: 200;
display: flex;
}

.container{
    background-color: beige;
    height: 200;
    width: 50%;
    align-items: center;
}

